{% load tailwind_tags static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% tailwind_css %}
        {% block head %}
        {% endblock head %}
        <link rel="icon" href="{% static 'favicon.png' %}">
        <title>Twisted</title>

        <!-- Primary Meta Tags -->
        <meta name="title" content="Twisted" />
        <meta name="description" content="Join a Twisted YSWS where you build cool projects, complete challenges, and work your way through a roadmap to earn a PC." />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://metatags.io/" />
        <meta property="og:title" content="Twisted" />
        <meta property="og:description" content="Join a Twisted YSWS where you build cool projects, complete challenges, and work your way through a roadmap to earn a PC." />
        <meta property="og:image" content="{% static 'images/twisted_logo_big.png' %}" />

        <!-- X (Twitter) -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://metatags.io/" />
        <meta property="twitter:title" content="Twisted" />
        <meta property="twitter:description" content="Join a Twisted YSWS where you build cool projects, complete challenges, and work your way through a roadmap to earn a PC." />
        <meta property="twitter:image" content="{% static 'images/twisted_logo_big.png' %}" />

    </head>
    <body class="font-vintage os">
        {% block body %}
            meow :3
        {% endblock body %}
    </body>
    <script type="module">
        // Timezone settings
        const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone; // e.g. "America/New_York"
        await cookieStore.set('django_timezone', timezone, { path: '/' });
    </script>
</html>
