{% load tailwind_tags static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% tailwind_css %}
        {% block head %}
        {% endblock head %}
        <link rel="icon" href="{% static 'favicon.png' %}">
        <title>Twisted</title>
    </head>
    <body class="font-vintage os">
        {% block body %}
            meow :3
        {% endblock body %}
    </body>
    <script type="module">
        // Timezone settings
        const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone; // e.g. "America/New_York"
        await cookieStore.set('django_timezone', timezone, { path: '/' });
    </script>
</html>
