<button type="{{ type|default:'button' }}" class="
        inline-flex items-center justify-center
        font-latin font-medium
        p-2
        text-sm
        transition-all duration-150

        focus:outline-none
        focus:ring-2
        focus:ring-ring
        focus:ring-offset-2
        focus:ring-offset-background

        disabled:pointer-events-none
        disabled:opacity-50

        {% if variant == 'secondary' %}
            bg-secondary text-secondary-foreground hover:brightness-110
        {% elif variant == 'destructive' %}
            bg-destructive text-destructive-foreground hover:brightness-110
        {% elif variant == 'outline' %}
            border border-border bg-transparent text-foreground hover:bg-muted
        {% elif variant == 'ghost' %}
            bg-transparent text-foreground hover:bg-muted
        {% else %}
            bg-primary text-primary-foreground hover:brightness-110
        {% endif %}

        {{ class }}
    ">
    {{ slot }}
</button>