<div class="{{ class }}">
    <div
        class="w-full previewdiv max-w-full wrap-break-word text-foreground [&_h1]:text-2xl [&_h1]:font-bold [&_h2]:text-xl [&_h2]:font-bold [&_h3]:text-lg [&_h3]:font-bold [&_ul]:list-disc [&_ul]:pl-6 [&_ol]:list-decimal [&_ol]:pl-6 [&_p]:my-2 [&_a]:underline [&_a]:text-primary [&_img]:max-w-full">
    </div>
    <textarea class="textbox hidden">{{ slot }}</textarea>
    <script>
        function rendermarkdown() {
            elem = document.currentScript.parentElement.querySelector('.textbox')
            content = elem.value.trim();
            elem.classList.add('hidden')
            parsed = DOMPurify.sanitize(marked.parse(content));
            elem.parentElement.querySelector('.previewdiv');
            elem.parentElement.querySelector('.previewdiv').innerHTML = parsed;
        }
        rendermarkdown()
    </script>
</div>