{% if status == 'pending' %}
<div class="mx-auto border flex border-border size-12 mb-2 rounded-full"></div>
{% elif status == 'approved' %}
<div class="mx-auto border flex border-green-400 size-12 mb-2 rounded-full bg-green-700">
    <c-svg.tick class="size-10 mx-auto my-auto text-green-400" />
</div>
{% elif status == 'rejected' or status == 'requested_changes' %}
<div class="mx-auto border flex border-red-400 size-12 mb-2 rounded-full bg-red-700">
    <c-svg.cross class="size-10 mx-auto my-auto text-red-400" />
</div>
{% elif status == 'unavailable' %}
<div class="mx-auto border flex border-yellow-400 size-12 mb-2 rounded-full bg-yellow-700" title="Status check unavailable, try again later">?</div>
{% else %}
<div class="mx-auto border flex border-border size-12 mb-2">No status found!</div>
{% endif %}
