{% load static %}
<c-base>
    <c-slot name="head">
        <script src="{% static 'vendor/chart.js/chart.umd.min.js' %}"></script>
        <script src="{% static 'js/admin_charts.js' %}"></script>
    </c-slot>
    <c-ui.card class="bg-zinc-900 mb-4">
        <h3 class="text-lg font-semibold mb-2">Welcome back, {{ user.profile.slack_username }}!</h3>
        <p class="text-ink-400">
            <c-ui.button onclick="alert('weh, you are looking at them right now >:(')">
                See statistics
            </c-ui.button>
            <a href="{% url 'admin.users' %}">
                <c-ui.button>
                    Manage Users
                </c-ui.button>
            </a>
            <a href="{% url 'admin.pathways' %}">
                <c-ui.button>
                    Edit Pathways
                </c-ui.button>
            </a>
            <a href="{% url 'admin.fulfillment' %}">
                <c-ui.button>
                    Fulfill orders
                </c-ui.button>
            </a>
            <a href="{% url 'admin.shop' %}">
                <c-ui.button>
                    Edit shop
                </c-ui.button>
            </a>
            <a href="{% url 'admin.review' %}">
                <c-ui.button>
                    Review projects
                </c-ui.button>
            </a>
            <a href="{% url 'admin.announcements' %}">
                <c-ui.button>
                    Announce stuff
                </c-ui.button>
            </a>
        </p>
    </c-ui.card>
    <c-ui.tabs variant="segmented">
        <c-ui.tabs.tab name="Logged">
            <c-ui.card class="bg-zinc-900">
                <div class="flex flex-col md:flex-row text-center md:text-left gap-4 h-60">
                    <div class="md:w-fit flex flex-row mx-auto">
                        <div class="flex flex-col">
                            <div class="text-center">Hours logged</div>
                            <div class="text-center text-lg font-bold">{{ hours_logged }}h</div>
                            <div class="relative mx-auto md:mx-0 mt-2 grow w-60">
                                <canvas id="hours_logged_chart"></canvas>
                            </div>
                            {{ hours_logged_chart|json_script:"hours_logged_chart_data" }}
                            <script>
                                areaChart("hours_logged_chart", "hours_logged_chart_data");
                            </script>
                        </div>
                    </div>
                    <div class="md:w-fit flex flex-row mx-auto">
                        <div class="flex flex-col">
                            <div class="text-center">Project type</div>
                            <div class="relative mx-auto md:mx-0 mt-2 grow w-60">
                                <canvas id="logged_project_type"></canvas>
                            </div>
                            {{ logged_project_type|json_script:"logged_project_type_data" }}
                            <script>
                                pieChart("logged_project_type", "logged_project_type_data");
                            </script>
                        </div>
                    </div>
                    <div class="md:w-fit flex flex-row mx-auto">
                        <div class="flex flex-col">
                            <div class="text-center">Hours spent by region</div>
                            <div class="relative mx-auto md:mx-0 mt-2 grow w-60">
                                <canvas id="chart_region_hours"></canvas>
                            </div>
                            {{ logged_region_hours|json_script:"logged_region_hours_data" }}
                            <script>
                                pieChart("chart_region_hours", "logged_region_hours_data", false);
                            </script>
                        </div>
                    </div>
                </div>
            </c-ui.card>
        </c-ui.tabs.tab>
        <c-ui.tabs.tab name="Shipped">
            <c-ui.card class="bg-zinc-900">
                <div class="flex flex-col md:flex-row text-center md:text-left gap-4">
                    <div class="md:w-fit">
                        <div class="text-center">Hours shipped</div>
                        <div class="text-center text-lg font-bold">{{ hours_shipped }}h</div>
                        <div class="relative mx-auto md:mx-0 mt-2">
                            <canvas id="hours_shipped_chart" class="h-full"></canvas>
                        </div>
                        {{ hours_shipped_chart|json_script:"hours_shipped_chart_data" }}
                        <script>
                            areaChart("hours_shipped_chart", "hours_shipped_chart_data");
                        </script>
                    </div>
                    <div class="md:w-fit flex flex-row">
                        <div>
                            <div class="text-center">Project type</div>
                            <div class="relative mx-auto md:mx-0 mt-2">
                                <canvas id="shipped_project_type" class="h-full"></canvas>
                            </div>
                            {{ shipped_project_type|json_script:"shipped_project_type_data" }}
                            <script>
                                pieChart("shipped_project_type", "shipped_project_type_data");
                            </script>
                        </div>
                    </div>
                </div>
            </c-ui.card>
        </c-ui.tabs.tab>
        <c-ui.tabs.tab name="Reviewed">
            This is still WIP! (annoy @kavyansh. to fix if you see this after the YSWS has started!)
        </c-ui.tabs.tab>
    </c-ui.tabs>
</c-base>
