<c-base>
<div>
    <div class="mb-4">
        <h1 class="text-center md:text-left me-4 font-semibold text-3xl mt-auto">
            Audit Logs ({{ log_count }})
        </h1>
        <p class="italic">
            are others doing something naughty..?
        </p>
        <div class="mt-2">
            <c-ui.pagination :page_obj="logs" />
        </div>
    </div>
    <div class="mb-4">
        <form action="">
            
        </form>
    </div>
    <div>
        <div class="flex flex-col gap-4">
            {% for log in logs %}
            <c-ui.card padding="sm">
                <div class="flex gap-4 mb-1">
                    <div class="flex gap-2">
                        <img class="size-6 rounded-md" src="{{ log.user.profile.slack_pfp_url }}">
                        <span class="font-bold">
                            {{ log.user.profile.slack_username }}
                        </span>
                    </div>
                    <div>
                        {% if log.pii %}
                        <c-ui.badge color="red">PII: Yes</c-ui.badge>
                        {% else %}
                        <c-ui.badge>PII: No</c-ui.badge>
                        {% endif %}
                    </div>
                    <div title="your local time">
                        <c-ui.badge>
                            {{ log.timestamp }}
                        </c-ui.badge>
                    </div>
                </div>
                <div class="flex gap-2">
                    <c-ui.badge>
                        {{ log.post|yesno:"POST,GET" }}
                    </c-ui.badge>
                    <span>
                        {{ log.path }}
                    </span>
                </div>
                {% if log.additional_context %}
                <div>
                    <label class="text-white/40 uppercase text-xs">Additional info</label>
                    <div>
                        
                        {% for key, val in log.additional_context.items %}
                        <div class="flex gap-1">
                            {% if key|slice:"-5:" == "__img" %}
                            <c-ui.badge>
                                {{ key|slice:":-5" }}
                            </c-ui.badge>
                            <span>
                                <img src="{{ val }}" alt="{{ key }}" class="size-6 rounded-md">
                            </span>
                            {% else %}
                            <c-ui.badge>
                                {{ key }}
                            </c-ui.badge>
                            <span>
                                {{ val }}
                            </span>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </c-ui.card>
            {% endfor %}
        </div>
    </div>
    <div class="mt-4">
        <c-ui.pagination :page_obj="logs" />
    </div>
</div>
</c-base>