{% load maths time_filters %}
<c-base>
    <a href="{% url 'admin.users' %}">
        <c-ui.button>Back</c-ui.button>
    </a>
    <c-ui.card class="mt-4 bg-ink-900">
        <div class="flex gap-2">
            <c-ui.avatar size="md" src="{{ user.profile.slack_pfp_url }}" />
            <div>
                <h3 class="text-lg font-semibold mb-1">
                    @{{ user.profile.slack_username }}
                    <c-ui.badge size="sm">{{ user.profile.slack_id|default:"user not found" }}</c-ui.badge>
                </h3>
                {% if user.profile %}
                <div>
                    {% if user.profile.is_staff %}
                    <c-ui.badge size="sm" color="purple">Staff</c-ui.badge>
                    {% endif %}
                    {% if login_maybe %}
                    <c-ui.badge size="sm" color="{{ user.profile.is_allowed|yesno:'green,red' }}">{{ user.profile.is_allowed|yesno:"Login allowed,Login disallowed" }}</c-ui.badge>
                    {% endif %}
                    <c-ui.badge size="sm" color="{{ user.profile.ysws_eligible|yesno:'green,red' }}"
                        >{{ user.profile.ysws_eligible|yesno:"YSWS eligible,Not YSWS eligible" }}</c-ui.badge
                    >
                </div>
                {% endif %}
            </div>
        </div>
    </c-ui.card>
    <div class="mt-4">
        <h1 class="text-2xl font-black">Projects</h1>
        {% if user.projects.all %}
        <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            {% for project in user.projects.all %}
            <c-ui.card class="bg-ink-900">
                <div>
                    <h1 class="text-lg font-bold">{{ project }}</h1>
                </div>
                <div>
                    <c-ui.badge>{{ project.get_project_type_display }}</c-ui.badge>
                    {% if project.latest_ship %}
                    <c-ui.badge>{{ project.latest_ship.get_status_display }}</c-ui.badge>
                    {% endif %}
                </div>
                <div>
                    <p>
                        {{ project.time_logged|minutes_to_hours_minutes }} logged
                    </p>
                </div>
            </c-ui.card>
            {% endfor %}
        </div>
        {% else %}
        <c-ui.card class="bg-ink-900">
            <h1 class="text-lg font-bold">
                No projects found :(
            </h1>
            <p>
                This user has not created any projects!
            </p>
        </c-ui.card>
        {% endif %}
    </div>
    {% if login_maybe %}
    <div class="mt-4">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="toggle_is_allowed">
            <c-ui.button type="submit">Toggle allowed state</c-ui.button>
        </form>
    </div>
    {% endif %}
</c-base>
