{% load static %}
<div class="md:py-2 md:px-4 md:h-full">
    <c-ui.drawer class="md:hidden" side="left">
        <c-slot name="header">
            <div class="flex gap-2 p-1 mb-2 rounded-xl">
                <div>
                    <img src="{% static 'favicon.png' %}" class="size-10 rounded-xl my-auto" />
                </div>
                <label class="text-lg my-auto">
                    Twisted
                    <label class="my-auto text-xs text-gray-500"> ADMIN </label>
                </label>
            </div>
        </c-slot>
        <div class="flex">
            <div class="flex-1"></div>
            <c-ui.button size="xs" variant="ghost" @click="drawerOpen = true">
                <img src="https://icons.hackclub.com/api/icons/white/align-left" class="size-10" />
            </c-ui.button>
        </div>
        <c-slot name="content">{{ slot }}</c-slot>
        <c-slot name="footer">
            <div class="flex p-2">
                <img class="size-8 rounded-full" src="{{ request.user.profile.slack_pfp_url }}" alt="" />
                <label class="my-auto ml-2">@{{ request.user.profile.slack_username }}</label>
            </div>
        </c-slot>
    </c-ui.drawer>
    <div class="border border-gray-700 bg-zinc-900 p-1 rounded-xl w-60 h-full hidden md:flex flex-col">
        <div class="flex gap-2 p-1 mb-2 rounded-xl">
            <div>
                <img src="{% static 'favicon.png' %}" class="size-10 rounded-xl my-auto" />
            </div>
            <div class="flex flex-col my-auto">
                <label class="text-lg">Twisted</label>
                <label class="text-xs text-gray-500">ADMIN</label>
            </div>
        </div>
        <div class="mx-auto w-full border-gray-700 border-t"></div>
        <div class="flex-1 my-2">{{ slot }}</div>
        <div>
            <div class="mx-auto w-full border-gray-700 border-t"></div>
            <c-sidebar.item icon="back" href="{% url 'dashboard' %}">Back to Twisted</c-sidebar.item>
            <div class="flex p-2">
                <img class="size-8 rounded-full" src="{{ request.user.profile.slack_pfp_url }}" alt="" />
                <label class="my-auto ml-2">@{{ request.user.profile.slack_username }}</label>
            </div>
        </div>
    </div>
    <div></div>
</div>
