<c-base>
    <div>
        <c-ui.breadcrumbs>
            <c-ui.breadcrumbs.item href="{% url 'admin.dash' %}">Admin</c-ui.breadcrumbs.item>
            <c-ui.breadcrumbs.item href="{% url 'admin.pathways' %}">Pathways</c-ui.breadcrumbs.item>
            <c-ui.breadcrumbs.item :current="True">
                New
            </c-ui.breadcrumbs.item>
        </c-ui.breadcrumbs>
        <h1 class="text-2xl font-bold mt-2">Create Pathway</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mt-2 flex flex-col gap-2">
                <c-ui.input label="Pathway name"
                            name="name"
                            placeholder="CPU"
                            required="True"
                            value="{{ pathway_name }}" />
                <div>
                    <c-ui.select label="Pathway group" name="group" required="True">
                        {% for group in groups %}
                            <c-ui.select.option value="{{ group.id }}" :selected="group.id|stringformat:'s' == group_id">
                                {{ group.name }} ({{ group.start }} &ndash; {{ group.end }})
                            </c-ui.select.option>
                        {% endfor %}
                    </c-ui.select>
                    {% if not groups %}
                        <c-ui.alert class="mt-1">
                            No pathway groups exist yet.
                        </c-ui.alert>
                    {% endif %}
                </div>
                <div>
                    <c-ui.button href="{% url 'admin.pathway_groups.create' %}" variant="default">
                        Create new pathway group
                    </c-ui.button>
                </div>
                <div>
                    <c-ui.input label="Minimum time required to unlock (in minutes)"
                                type="number"
                                value="{{ min_mins }}"
                                name="mins"
                                placeholder="300"
                                required />
                </div>
                <c-ui.button class="lg:w-min" type="submit" variant="primary">
                    Create Pathway
                </c-ui.button>
            </div>
        </form>
    </div>
</c-base>
